server:
  port: 8081
  servlet:
    session:
      cookie:
        max-age: 604800
spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  application:
    name: gen-net-app
  data:
    rest:
      base-path: /api
springdoc:
  api-docs:
    path: /docs/api-docs
  swagger-ui:
    path: /docs/swagger.html
    disable-swagger-default-url: true
    operations-sorter: alpha
    tags-sorter: alpha