<div class="h-100 d-flex flex-column">
    <nav class="navbar navbar-light bg-light p-0 border-bottom">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalFormAddPerson">Add</button>
<!--            <button type="button" class="btn btn-light">2</button>-->
<!--            <button type="button" class="btn btn-light">3</button>-->
<!--            <button type="button" class="btn btn-light">4</button>-->
        </div>
    </nav>
    <div class="flex-fill overflow-auto">
        <table id="personsTable" class="table"></table>
    </div>
    <div class="border-top">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">General</button>
<!--                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>-->
<!--                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>-->
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">...</div>
<!--            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>-->
<!--            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>-->
        </div>

    </div>
    <div class="modal fade" id="modalFormAddPerson" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add person</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row p-1">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script type="application/javascript">
    function generateTableHead(table, data) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        for (let key of data) {
            let th = document.createElement("th");
            let text = document.createTextNode(key);
            th.appendChild(text);
            row.appendChild(th);

        }
    }

    function generateTable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
            }
        }
    }
    const getPersonsUrl = '/api/persons';
    let getPersonsUrlParams = '';
    if (document.getElementById("schemasMenu").value !== '') {
        getPersonsUrlParams = '?' + new URLSearchParams({ schema_id: document.getElementById("schemasMenu").value}).toString();
    }
    console.log("get: " + getPersonsUrl + getPersonsUrlParams);
    fetch(getPersonsUrl + getPersonsUrlParams)
        .then(res => res.json())
        .then(json => {
            if (json.length == 0)
                return
            let mountains = json;
            let table = document.querySelector("#personsTable");
            let data = Object.keys(mountains[0]);
            generateTable(table, mountains); // generate the table first
            generateTableHead(table, data); // then the head
        });

    const modalFormAddPerson = document.getElementById("modalFormAddPerson");
    const formAddPerson = modalFormAddPerson.querySelector("form");
    formAddPerson.addEventListener('submit', e => {
        e.preventDefault();
        const formData = new FormData(formAddPerson);
        const data = Object.fromEntries(formData);
        fetch("/api/persons", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.status == 201) {
                const modal = bootstrap.Modal.getInstance(modalFormAddPerson)
                modal.hide();
            } else {
                alert("Error");
            }
            // console.log("res:");
            // console.log(res);
        }).catch(error => {console.log("err:"); console.log(error);});
    })
</script>